@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Data.Models
@model IEnumerable<ProjectViewModel>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "All Projects";
}
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h1 class="text-center">@ViewBag.Title</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            @foreach (var project in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-white card-has-bg click-col" style="background-image:url('@project.Picture');">
                        <img class="card-img d-none" src="@project.Picture" alt="@project.Name">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <h4 class="card-title mt-0">
                                    <a class="text-white text-decoration-none" asp-controller="Projects" asp-action="Details" asp-route-projectId="@project.Id">@project.Name</a></h4>
                                <small><i class="text-white-50"></i> @project.Description</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.FindByIdAsync(project.ProjectManagerId).Result.ProfilePicture))" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">@UserManager.FindByIdAsync(project.ProjectManagerId).Result.Name @UserManager.FindByIdAsync(project.ProjectManagerId).Result.Surname</h6>
                                        <small>Project manager</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</section>
