@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Data.Models
@model ProjectViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = Model.Name;
    var subtasks = ViewBag.Subtasks;
}

<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5">
                <h1 class="text-center">@ViewBag.Title</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            @foreach (var subtask in subtasks)
            {
                if (subtask.ProjectId == Model.Id)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card text-white card-has-bg click-col" style="background-image:url('../../wwwroot/Images/taskbackground.jpg')" ;>
                            <img class="card-img d-none" src="../wwwroot/Images/taskbackground.jpg" alt="">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small>Status: @subtask.Status</small>
                                    <hr></hr>
                                    <h3 class="card-title mt-0">
                                        <a class="text-white text-decoration-none" asp-controller="Subtask" asp-action="Details" asp-route-subtaskId="@subtask.Id">@subtask.Name</a>
                                    </h3>
                                    <hr></hr>
                                    <div>
                                        <h6>Description:</h6>
                                        <small><i class="text-white-50"></i> @subtask.Description</small>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        @foreach (var specialist in subtask.SpecialistsIds)
                                        {
                                            <img class="mr-3 rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.FindByIdAsync(specialist).Result.ProfilePicture))" style="max-width:50px">
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>

    </div>
</section>
