@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Data.Models
@model SubtaskViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = Model.Name;
}

<h1>@ViewBag.Title</h1>
<h6>Project: @Model.Project</h6>
<h6>Category: @Model.Category</h6>
<hr/>
<h3>Status: <a class="StatusLink" asp-controller="Subtask" asp-action="ChangeStatus" asp-route-subtaskId="@Model.Id">@Model.Status</a> </h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Description</td>
            <td></td>
            <td>
                @foreach (var specialist in Model.SpecialistsIds)
                {
                    <img class="mr-3 rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.FindByIdAsync(specialist).Result.ProfilePicture))" style="max-width:50px">
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Subtask" asp-action="AddSpecialist" asp-route-subtaskId="@Model.Id">Add specialist</a>
            </td>
        </tr>
    </tbody>
</table>
